In [1]:
# reference
# [ご注文はリード化合物ですか？〜医薬化学録にわ〜](https://aimedchem.hatenablog.com/)

In [2]:
import numpy as np
import pandas as pd
from rdkit import Chem
from rdkit.Chem.Draw import IPythonConsole

from mordred import Calculator, descriptors

RDKit WARNING: [08:50:41] Enabling RDKit 2019.09.2 jupyter extensions

In [5]:
# prepare instance for calculating descriptor
calc = Calculator(descriptors, ignore_3D = True)

# prepare molecular data to calculate
mols = [Chem.MolFromSmiles(smiles) for smiles in ['c1ccccc1Cl', 'c1ccccc1O', 'c1ccccc1N']]

# output Pandas dataframe
df = calc.pandas(mols)

100%|██████████| 3/3 [00:00<00:00, 28.11it/s]

In [6]:
df

,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,5.059137,4.785854,0,0,8.720566,2.101003,4.202006,8.720566,1.245795,2.844305,...,8.124151,33.544698,112.007978,9.333998,42,5,30.0,31.0,2.361111,1.666667
1,5.059137,4.785854,0,0,8.720566,2.101003,4.202006,8.720566,1.245795,2.844305,...,8.124151,33.544698,94.041865,7.233990,42,5,30.0,31.0,2.361111,1.666667
2,5.059137,4.785854,0,0,8.720566,2.101003,4.202006,8.720566,1.245795,2.844305,...,8.124151,33.544698,93.057849,6.646989,42,5,30.0,31.0,2.361111,1.666667